    <div class="col-md-12 order-md-1">

<h2>Components</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered" id="components-table"  style="width:100%">
      <thead>
        <tr>
            <th>Description</th>
            <th>Value</th>
            <th>Part No.</th>
            <th>Quenatity</th>
            <th>Type</th>
            <th>Package</th>
            <th>Datasheet</th>
        </tr>
      </thead>
      <tbody>
        {{#each components}}
            <tr data-id="{{ID}}" data-name="{{DESCRIPTION}}">
            <td>{{DESCRIPTION}}</td>
            <td>{{VALUE}}</td>
            <td>{{PART_NO}}</td>
            <td>{{QUANTITY}}</td>
            <td>{{TYPE}}</td>
            <td>{{PACKAGE}}</td>
            <td>{{DATASHEET}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>  

    <hr />



        <h4 class="mb-3">Component</h4>
        <form action="/components/save" method="POST">
            <input type="hidden" name="id" id="id" />        
            <div class="container-fluid">

                <div class="mb-3">
                    <label for="username">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Description" >
                </div>

                <div class="mb-3">
                    <label for="username">Value</label>
                    <input type="text" class="form-control" id="value" name="value" placeholder="Value" >
                </div>

                <div class="mb-3">
                    <label for="username">Part No.</label>
                    <input type="text" class="form-control" id="part" name="part" placeholder="Part No." >
                </div>

                <div class="mb-3">
                    <label for="username">Datasheet</label>
                    <input type="text" class="form-control" id="datasheet" name="datasheet" placeholder="Datasheet" >
                </div>                

                <div class="mb-3">
                    <label for="username">Quantity</label>
                    <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Quantity" >
                </div>                

                <div class="mb-6">
                    <label for="type">Type</label>
                    <select class="form-control" name="type" id="type">
                        {{#each types}}
                            <option value="{{ID}}">{{NAME}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-6">
                    <label for="type">Package</label>
                    <select class="form-control" name="package" id="package">
                        {{#each packages}}
                            <option value="{{ID}}">{{NAME}}</option>
                        {{/each}}
                    </select>
                </div>                

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit">Save</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function () {
                $('tbody > tr').each((idx, tr) => { 
                    const id = $(tr).attr("data-id");
                    const name = $(tr).attr("data-name");

                    $(tr).click(e => {
                        $('#id').attr("value", id);
                        $('#name').attr("value", name);                        
                    });

                });

                $('#components-table').DataTable();
        });
    </script>