<div class="container-fluid">
    <div class="row">
        <h2>Projects</h2>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Schematic</th>
                    <th>Creation Date</th>
                    <th>GIT</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                    <tr data-id="{{ID}}" data-name="{{NAME}}" data-sch="{{SCHEMATIC_VERSION}}" data-git="{{GIT_REPO}}">
                    <td>{{NAME}}</td>
                    <td>{{SCHEMATIC_VERSION}}</td>
                    <td>{{dateFormat CREATION_DATE "dddd, MMMM Do YYYY, h:mm:ss a"}}</td>
                    <td><a href"{{{GIT_REPO}}}" target="_blank">{{GIT_REPO}}</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>        
    </div>

    <hr />

    <div class="row">
        <div class="col-6">
            <h4 class="mb-3">Project</h4>
            <form action="/projects/save" method="POST">
                <input type="hidden" name="id" id="id" />        
                <div class="container-fluid">

                    <div class="mb-3">
                        <label for="username">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" >
                    </div>

                    <div class="mb-3">
                        <label for="username">Schematic Version</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="schematic" name="schematic" placeholder="Schematic" >
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">Git repo</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="git" placeholder="GIT repo" name="git" >
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit">Save</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <h5 class="mb-1">Used components</h5>
            <br />
            <select class="form-control basicAutoSelect" id="componentSearch" name="simple_select" 
								placeholder="type to search..." 
								data-url="/api/components" autocomplete="off"></select>
            <br />
            <table class="table table-striped" id="usedComponents">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Value</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Package</th>
                    <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table> 
        </div>
    </div>
</div>

<script>
    var selectedProject = 0;

    $(document).ready(function () {
        $('#componentSearch').autoComplete();
        $('#componentSearch').on('autocomplete.select', function (evt, item) {
			console.log('select ', item);
            $.ajax({
                type: "POST",
                url: "/api/project/assignComponent",
                data: {
                    "project":selectedProject,
                    "component": item.value
                },
                success: (data) => {
                    var html;
                    $('#usedComponents tbody tr').remove();

                    data.components.forEach((c, i) => {
                        html = "<tr>";
                            html += "<th scope='row'>" + c.DESCRIPCION + "</th>";
                            html += "<th>" + c.VALUE + "</th>";
                            html += "<th>" + c.QUANTITY + "</th>";
                            html += "<th>" + c.COMPONENT_TYPE_ID + "</th>";
                            html += "</tr>";
                    });

                    $('#usedComponents tbody').html(html);
                },
                dataType: "json"
            });
		});

        $('tbody > tr').each((idx, tr) => { 
            const id = $(tr).attr("data-id");
            const sch = $(tr).attr("data-sch");
            const git = $(tr).attr("data-git");
            const name = $(tr).attr("data-name");

            $(tr).click(e => {
                selectedProject = id;

                $('#id').attr("value", id);
                $('#name').attr("value", name);
                $('#schematic').attr("value", sch);
                $('#git').attr("value", git);  

                $.get( "/api/components/byproject/" + selectedProject, function( data ) {
                    var html;

                    $('#usedComponents tbody tr').remove();

                    data.forEach((c, i) => {
                        html += "<tr>";
                        html += "<th scope='row'>" + c.DESCRIPTION + "</th>";
                        html += "<th>" + c.VALUE + "</th>";
                        html += "<th>" + c.QUANTITY + "</th>";
                        html += "<th>" + c.PACKAGE + "</th>";
                        html += "<th>" + c.COMPONENT_TYPE + "</th>";
                        html += "</tr>";
                    });

                    $('#usedComponents tbody').html(html);

                });                    
            });

        });
    });
</script>