<h2>Component Types</h2>

<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
            <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each types}}
            <tr data-id="{{ID}}" data-name="{{NAME}}">
            <td>{{NAME}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>

    <hr />

    <div class="col-md-12 order-md-1">

        <h4 class="mb-3">Component Type</h4>
        <form action="/types/save" method="POST">
            <input type="hidden" name="id" id="id" />        
            <div class="container-fluid">

                <div class="mb-3">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" >
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit">Save</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function () {
                $('tbody > tr').each((idx, tr) => { 
                    const id = $(tr).attr("data-id");
                    const name = $(tr).attr("data-name");

                    $(tr).click(e => {
                        $('#id').attr("value", id);
                        $('#name').attr("value", name);                        
                    });

                });
        });
    </script>